*.exe
*.la
*.lo
*.o
*.pc
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
config.*
configure
debian/*debhelper*
debian/*substvars
debian/files
debian/libpandaseq0
debian/pandaseq-dbg
debian/pandaseq-dev
debian/tmp/
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
mktable
pandaseq
pandaxs
stamp-h1
table.c
table.h
