*.a
*.deps
*.exe
*.la
*.lo
*.o
*.pc
*~
.deps
.libs
/*.vapi
/Makefile
Makefile.in
PANDAseq-*.pkg
aclocal.m4
ar-lib
autom4te.cache
build-macos-pkg
build-stamp
compile
config.*
configure
debian/*debhelper*
debian/*substvars
debian/files
debian/libpandaseq*/
debian/pandaseq-dbg
debian/pandaseq-dev
debian/tmp/
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
mktable
pandaseq
pandaseq-checkid
pandaseq-diff
pandaseq-hang
pandaxs
pkgroot
stamp-h1
table.c
table.h
testing/access_new_library.c
testing/access_new_library.h
testing/access_new_library.vapi
testing/pandaseq-diff
testing/pandaseq-diff.c
